body{
    background-color: darkgrey;
}

#col{
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    border: solid;
}

h1{
    background-color: darkgreen;
    color: white;
    text-align: center;
    padding: 10px;
}

#output{
    background-color: darkgreen;
    color: white;
    font-style: italic;
}

#reset{
    float: right;
}

#clear{
    float: right;
}

#lblname{
    margin-right: 10px;
}

#lblBirthDay{
    margin-right: 10px;
}

#gender{
    float: right;
}
#birthDay{
    margin-right: 15px;
}