body {
    background-color: darkgrey;
}

.about {
    text-align: justify;
    background-color: blanchedalmond;
    font-style: italic;
    padding: 5px;
    border-top: 1px solid black;
}

#col {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    border: solid;
    flex-direction: column;
}

h1 {
    background-color: darkgreen;
    color: white;
    text-align: center;
    padding: 10px;
}

#output {
    background-color: darkgreen;
    color: white;
    font-style: italic;
}

#userName {
    padding-left: 10px;
}

#clear {
    float: right;
}

#lblname {
    margin-right: 10px;
}

#lblname::after {
    content: " *";
    color: red;
}

#lblBirthDay {
    margin-right: 10px;
}

#birthDay {
    margin-right: 15px;
}

@media screen {}